.image-404 {
    margin-top: 2rem;
    width: 80%;
    height: auto;
}
.acceuil__404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    @media screen and (min-width: 700px) {
        flex-direction: row;
        & .image-404 {
            width: 50%;
            margin-top: 0;
        }
    }
}
