.entete__header {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.entete__header span {
    display: block;
}

@media screen and (max-width: 600px) {
    .entete__header {
        background-position: 50% 50%;
    }
}
