#entete {
    // Entête
    background-image: url(images/horizon.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 90% 10%;
    padding: 3rem 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    * {
        z-index: 1;
    }
}

.entete__header {
    // Entête avec marge
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entete h1,
#entete h2,
#entete h3 {
    // Titres de l'entête
    margin: 0;
}
