.entete__header {
    // background-image: url("images/logo.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#entete {
    background-image: url(images/horizon4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 75%;
    background-size: cover;
    padding: 3rem 0;
}

#entete h2 {
    text-shadow: 3px 3px 3px hsla(var(--hu1), 0%, var(--l5), 40%);
}

.entete__header span {
    display: block;
}

@media screen and (max-width: 700px) {
    // .entete__header {
    //     background-position: 50% 50%;
    // }
}
#entete h1,
#entete h2,
#entete h3 {
    margin: 0;
}

#entete h3 {
    margin-top: 5rem;
}
