body {
    display: flex;
    flex-direction: column;
    font-family: "raleway", arial, sans-serif;
}
.global {
    display: flex;
    justify-content: center;
    min-height: 30vh;
}
.global > section,
.global > header,
.global > footer {
    flex: 0 1 var(--flex-basis-contenu);
    // border: 1px dotted var(--couleur-arriere-entete);
    //background-color: rgba(#000b2f, var(--transparence-arriere-contenu));
    padding: 5rem 1.5rem;
}
#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}
#galerie {
    background: linear-gradient(180deg, var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-evenement) 00%);
    color: var(--couleur-galerie);
    z-index: 1;
}
#evenement {
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}
#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}
.footer__section {
    display: flex;
    flex-direction: column;
}
