body {
    display: flex;
    flex-direction: column;
    font-family: "raleway", arial, sans-serif;
}
.global {
    display: flex;
    justify-content: center;
    min-height: 30vh;
}
.global > section,
.global > header,
.global > footer {
    flex: 0 1 var(--flex-basis-contenu);
    // border: 1px dotted var(--couleur-arriere-entete);
    background-color: rgba(#00249c, var(--transparence-arriere-contenu));
    padding: 5rem 1.5rem;
}
#entete {
    background-color: var(--couleur-arriere-entete);
}
#accueil {
    background-color: var(--couleur-arriere-accueil);
}
#galerie {
    background-color: var(--couleur-arriere-galerie);
}
#evenement {
    background-color: var(--couleur-arriere-evenement);
}
#footer {
    background-color: var(--couleur-arriere-footer);
}

