.section__cours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.carte {
    min-width: 200px;
    background-color: var(--couleur-arriere-entete);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    flex: 0 1 23%;

    h4 {
        margin: 0rem;
        margin-top: 1rem;
        color: var(--couleur-entete);
    }
    h5 {
        margin: 0rem;
    }
    h6 {
        margin: 0rem;
        flex-grow: 1;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
