.section__cours {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 1rem;
}

.carte {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 200px;
    flex: 1 0 calc((var(--flex-basis-contenu) - 100px) / 4);
    border-radius: 10px;
    background-color: var(--couleur-arriere-entete);

    h4 {
        margin: 1rem 0;
        color: var(--couleur-entete);
    }
    p {
        margin-bottom: 0.5rem;
    }
}
.carte * {
    // text-align: center;
}
.carte p:last-of-type {
    margin: 0;
}
