.section__destinations,
.section__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.carte {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.section__categories .carte {
    position: relative;
    flex: 1 0 calc((var(--flex-basis-contenu) - 100px) / 2);
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    clip-path: inset(0);
    transition: clip-path 0.3s ease-in-out;
    min-height: 20rem;

    @media screen and (max-width: 700px) {
        flex: 1 0 calc(100vw - 3rem);
    }
    // obscursir les background images, mais pas le texte
    &:hover {
        clip-path: inset(10px);
    }
    &:hover::before {
        background-color: rgba(0, 0, 0, 0.5);
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
        transition: background-color 0.3s ease-in-out;
    }

    * {
        text-align: center;
        z-index: 1;
    }
    p {
        font-size: clamp(0.75rem, 0.75rem + 0.75vw, 1rem);
        color: $--clr-bleu-tres-pale;
    }
    h2 {
        font-size: clamp(1.5rem, 1.5rem + 2vw, 2.5rem);
        margin: 0.5rem;
        a {
            text-decoration: none;
            color: $--clr-bleu-tres-pale;
        }
    }
}
.section__destinations .carte {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 200px;
    flex: 0 0 calc((var(--flex-basis-contenu) - 100px) / 3);

    @media screen and (max-width: 700px) {
        flex: 1 0 calc(100vw - 3rem);
    }
    h4 {
        margin: 0;
        // height: 3rem;
        display: flex;
        align-items: flex-end;
        // color: var(--couleur-entete);
    }
    p {
        margin: 0;
        margin-top: 0.75rem;
    }
    & > a {
        padding-top: 0.5rem;
    }
    img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}

.carte .post-categories {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    // height: 1.7rem;
}
.carte > a {
    font-size: 0.75rem;
}
.carte .post-categories li {
    // margin-right: 0.5rem;
    font-size: 0.75rem;
}
.carte .post-categories li::after {
    content: "\00a0|\00a0";
    color: $--clr-bleu-tres-fonce;
}
.carte .post-categories li:last-of-type:after {
    content: "";
}
.carte .post-categories a:hover {
    text-decoration: underline;
}
