/*
<nav class="menu-principal-container">
    <ul id="menu-principal" class="menu">
        <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost/4w4/2020/10/07/582-4mb-animation-3d-75h/">Animation 3D</a></li>
        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-37"><a href="http://localhost/4w4/2020/10/07/360-4j4-creation-de-jeu-en-equipe-105h/">Création de jeu en équipe</a></li>
        <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38"><a href="http://localhost/4w4/2020/10/07/582-3j3-creation-de-jeu-3d-75h/">Création de jeu 3D</a></li>
        <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-41"><a href="http://localhost/4w4/2020/10/07/582-2j2creation-de-jeu-2d-60h/">Création de jeu 2D</a></li>
        <li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="#accueil">Accueil</a></li>
        <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="#galerie">Galerie</a></li>
        <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="#evenement">Événement</a></li>
    </ul>
</nav>
*/

#menu {
    // Entete
    z-index: 2;
    position: fixed;
    // flex: 0 1 1500px;
    width: 100vw;
    padding: 0 1rem;
    border-bottom: 1px solid white;
    // background-color: var(--couleur-arriere-entete);
    // backdrop-filter: blur(30px);
}
#menu .entete__contenu {
    // Entete avec marge
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}
#menu .entete__contenu > * {
    // Entete avec marge
    flex: 0 0 33%;
}
#menu .entete__contenu > a {
    display: flex;
    justify-content: center;
}

.btn_menu {
    // Boutons du menu
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1.8vw, 1rem);
}
.entete__contact:hover .btn_menu {
    // Effet hover bouton contact
    text-decoration: underline;
}
#burger:hover .btn_menu {
    // Effet hover bouton menu
    text-decoration: underline;
}

#menu .entete__contact {
    justify-content: flex-start;
    align-items: flex-start;
}
#menu .entete__contact a {
    // Contact
    display: flex;
    align-items: center;
}
#menu .icone_contact {
    // Icone contact
    margin: 0.5rem;
    max-width: 30px;
    min-width: 20px;
}
#menu .icone_contact path {
    // Icone contact
    stroke: white;
    stroke-width: 0.8;
}
#menu img {
    // Logo
    width: 10vw;
    max-width: 150px;
    min-width: 80px;
    height: auto;
    // filter: invert(1);
}

.entete__menu {
    // Menu
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-principal-container {
    //Nav (cache)
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding: 5rem;
    background-color: hsla(var(--hu1), var(--s-couleur-arriere), var(--l1), 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    // @media screen and (min-width: 700px) {
    //     position: static;
    //     transform: translateX(0);
    //     border-bottom: 2px solid var(--couleur-arriere-footer);
    //     background-color: var(--couleur-arriere-entete);
    //     height: auto;
    //     justify-content: space-between;
    //     width: 100%;
    //     max-width: 1500px;
    //     padding: 0;
    // }
}
#menu-principal {
    // ul
    top: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    max-width: 1500px;
    padding: 0;
    margin: 0 auto;

    // @media screen and (min-width: 700px) {
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     height: 7vw;
    //     width: 100%;
    // }
}
.menu-item {
    // li
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    font-size: clamp(1.5rem, 3vw, 1.75rem);
    // @media screen and (min-width: 700px) {
    //     border-left: none;
    //     border-left: 2px solid var(--couleur-arriere-footer);
    // }
}
.menu-item::after {
    // li
    color: white;
    content: "\279C";
    margin-left: auto;
}

.menu-item a {
    // li a
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    // color: var(--couleur-arriere-footer);
    color: white;
    // font-weight: bold;
    // @media screen and (min-width: 700px) {
    //     font-size: clamp(1rem, 1.5vw, 1.5rem);
    // }
}
.menu-item:hover::after {
    // li a hover
    color: var(--couleur-arriere-galerie);
}
.menu-item a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#chk_burger {
    // input menu
    display: none;
}
#burger {
    // label menu
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media screen and (min-width: 700px) {
    //     display: none;
    // }
}

#chk_burger:checked ~ .menu-principal-container {
    // menu cache quand burger checked
    transform: translateX(0);
}
#chk_burger:checked + #burger svg {
    // burger quand checked
    transform: rotate(90deg);
}
.icone {
    width: 4vw;
    height: auto;
}
.icone_burger {
    // icone burger
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 80px;
    min-width: 30px;
}
#chk_burger:checked ~ #burger .burger_rotation {
    // burger rotation
    transform: rotate(45deg);
}

.trait {
    // trait burger
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
}
.icone_burger .haut {
    // trait du haut
    stroke-dasharray: 40 121;
}
.icone_burger .bas {
    // trait du bas
    stroke-dasharray: 40 121;
}
#chk_burger:checked ~ #burger .icone_burger .haut {
    // effet sur trait du haut quand burger checked
    stroke-dashoffset: -68px;
}
#chk_burger:checked ~ #burger .icone_burger .bas {
    // effet sur trait du bas quand burger checked
    stroke-dashoffset: -68px;
}
