// <div id="menu" class="global">
//     <div class="entete__menu">
//         // Généré par WordPress
//         <div class="menu-entete-container">
//             <ul id="menu-entete" class="menu">
//                 <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-31"><a href="http://localhost/4w4/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
//                 <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost/4w4/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">echnologies émergentes</a></li>
//                 <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/4w4/2020/10/07/582-5w5-projet-web-en-equipe-105h/">Projet Web en équipe</a></li>
//                 <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/4w4/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">Communication</a></li>
//                 <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost/4w4/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
//             </ul>
//         </div>
//     </div>
// </div>

#menu {
    min-height: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--couleur-arriere-entete);
}
.global > .entete__menu {
    padding: 0;
    width: 100%;
}
.menu-principal-container {
    height: 100%;
}
.menu-entete-container {
    // div
    position: sticky;
    top: 0;
    height: 100%;
    background-color: var(--couleur-arriere-entete);
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.menu {
    // ul
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid var(--couleur-arriere-footer);
}
.menu-item {
    // li
    border-left: 2px solid var(--couleur-arriere-footer);
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
}
.menu-item:last-of-type {
    // premier li
    border-right: 2px solid var(--couleur-arriere-footer);
}
.menu-item a {
    // mots
    text-decoration: none;
    color: var(--couleur-arriere-footer);
    font-weight: bold;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
}
.menu-item a:hover {
    color: var(--couleur-arriere-galerie);
}
