.recherche {
    display: flex;
    justify-content: center;
    // background-color: $--clr-bleu-moyen;
    // border-radius: 10px;
    // width: 30vw;
}

.recherche__input {
    border: none;
    // flex: 1 1 auto;
    border-bottom: 2px solid $--clr-bleu-moyen;
    color: $--clr-bleu-tres-pale;
    background-color: transparent;
    // padding: 1rem 1.5rem;
    display: block;
    // border-radius: 10px;
    width: calc(30vw - (2rem + 24px) );
    transition: width 0.5s ease-in-out;
    
    &:focus{
        border-bottom: 2px solid $--clr-contraste;
    }
    &:focus + button{
        border-bottom: 2px solid $--clr-contraste;
    }
    @media screen and (max-width: 700px){
        width: calc(70vw - (2rem + 24px) );
    }
}
.recherche__input::placeholder {
    color: $--clr-bleu-pale;
}
.recherche__input:focus {
    outline: none;
    width: 40vw;
    &::placeholder {
        color: $--clr-bleu-tres-pale;
    }
    & + .recherche__button > svg {
        stroke: $--clr-bleu-tres-pale;
        transition: transform 0.25s;
    }
    @media screen and (max-width: 700px){
        width: 73vw;
    }
}
.recherche__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: URL(https://s2.svgbox.net/materialui.svg?ic=clear);
    cursor: pointer;
    color: $--clr-bleu-tres-pale;
}


.recherche__button {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $--clr-bleu-moyen;
    background-color: transparent;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
}
.recherche__button svg {
    stroke: $--clr-bleu-pale;
}

.recherche__button:hover svg {
    transform: scale(1.2);
}
