.sociaux {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.sociaux path {
    fill: $--clr-bleu-pale;
    transition: fill 0.25s;
}

.sociaux svg {
    transform: scale(1);
    transition: transform 0.25s;
}

.sociaux svg:hover {
    transform: scale(1.5);
}

.sociaux svg:hover path {
    fill: $--clr-bleu-tres-pale;
}
.sociaux svg:active path {
    fill: $--clr-bleu-moyen;
}
