button {
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.9375rem);
    border-radius: 50px;
    border: $--clr-bleu-tres-pale 2px solid;
    color: $--clr-bleu-tres-fonce;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        // button:hover
        color: $--clr-bleu-tres-pale;
        background-color: transparent;
    }

    &:active {
        color: var(--couleur-arriere-entete);
    }
}

#entete button {
    padding: 1rem 2rem;
    font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1.5625rem);
    color: $--clr-bleu-tres-fonce;
    &:hover {
        // button:hover
        color: $--clr-bleu-tres-pale;
        background-color: transparent;
    }
}
.erreur404__button {
    border: $--clr-bleu-tres-fonce 2px solid;
    background-color: $--clr-bleu-tres-fonce;
    color: $--clr-bleu-tres-pale;
    transition: color 0.1s, background-color 0.1s;
    &:hover {
        // button:hover
        color: $--clr-bleu-tres-fonce;
        background-color: transparent;
    }
}
