// https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
// https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9

// Sélecteur textuel de base
h1 {
    font-size: clamp(4.0625rem, 3.5938rem + 1.5vw, 5rem);
    font-weight: 300;
    text-transform: uppercase;
    font-family: "raleway", arial, sans-serif;
}
h2 {
    font-size: clamp(2.1875rem, 1.7188rem + 1.5vw, 3.125rem);
    font-family: "raleway", arial, sans-serif;
    font-weight: bold;
}
h3 {
    font-size: clamp(1.675rem, 1.3125rem + 1vw, 2.375rem);
}
h4 {
    font-size: clamp(1.175rem, -0.7188rem + 4.5vw, 1.675rem);
    font-weight: normal;
}
h5 {
    font-family: "raleway", arial, sans-serif;
    font-size: clamp(1rem, -0.75rem + 4vw, 1.5rem);
}
h6 {
    font-size: clamp(0.75rem, -0.7188rem + 3.5vw, 1.25rem);
}

p {
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
}

blockquote {
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
    width: 80%;
    margin: 50px auto;
    font-style: italic;
    color: $--clr-bleu-tres-pale;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $--clr-bleu-moyen;
    line-height: 1.6;
    position: relative;
    background: $--clr-bleu-fonce;
}
blockquote::first-letter {
    font-size: 3em;
    // color: var(--couleur-arriere-footer);
    line-height: 0.9;
}

blockquote::before {
    content: "\201C";
    // color: var(--couleur-arriere-footer);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote span {
    display: block;
    // color: var(--couleur-arriere-footer);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

::-moz-selection {
    /* Code for Firefox */
    color: $--clr-bleu-tres-pale;
    background: $--clr-contraste;
}

::selection {
    color: $--clr-bleu-tres-pale;
    background: $--clr-contraste;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: $--clr-bleu-tres-fonce;
}
