// https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
// https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9

// Sélecteur textuel de base
h1 {
    font-size: clamp(1rem, -0.5714rem + 6.2857vw, 3.75rem);
}
h2 {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 3rem);
}
h3 {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 2.25rem);
}
h4 {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 1.5rem);
}
h5 {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 1.25rem);
}
h6 {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 1rem);
}

p {
    font-size: clamp(1rem, -0.5714rem + 5.7143vw, 1.25rem);
}

hr {
}
