// https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
// https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9

// Sélecteur textuel de base
h1 {
    font-size: clamp(1.5rem, -2.875rem + 14vw, 5rem);
}
h2 {
    font-size: clamp(1rem, -0.5714rem + 6.2857vw, 3.75rem);
}
h3 {
    font-size: clamp(0.75rem, -1.4375rem + 7vw, 2.5rem);
}
h4 {
    font-size: clamp(0.625rem, -0.9375rem + 5vw, 1.875rem);
}
h5 {
    font-size: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}
h6 {
    font-size: clamp(0.375rem, -0.7188rem + 3.5vw, 1.25rem);
}

p {
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
}

hr {
}
