.entete__menu {
    width: 100%;
    position: fixed;
    height: 10vh;
    background-color: var(--couleur-arriere-entete);
    display: flex;
    justify-content: center;
    z-index: 2;
}
.entete__menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid var(--couleur-arriere-footer);
}

.entete__menu li {
    flex: 1 1 auto;
    border-left: 2px solid var(--couleur-arriere-footer);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entete__menu li:first-of-type {
    border-left: none;
}

.entete__menu a {
    text-decoration: none;
    color: var(--couleur-arriere-footer);
    font-weight: bold;
}

.entete__menu a:hover {
    color: var(--couleur-arriere-accueil);
}
