// https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties

// Défnition des variables de couleurs pour la palette de couleurs
// $--clr-bleu-pale: hsl(220, 100%, 85%);
// $--clr-bleu-leger: hsl(220, 100%, 60%);
// $--clr-bleu-moyen: hsl(220, 100%, 30%);
// $--clr-bleu-fonce: hsl(220, 100%, 15%);

// $--clr-orange-pale: hsl(40, 100%, 85%);
// $--clr-orange-leger: hsl(40, 100%, 50%);
// $--clr-orange-moyen: hsl(40, 100%, 30%);
// $--clr-orange-fonce: hsl(40, 100%, 15%);

// $--clr-rouge-pale: hsl(10, 100%, 85%);
// $--clr-rouge-leger: hsl(10, 100%, 50%);
// $--clr-rouge-moyen: hsl(10, 100%, 30%);
// $--clr-rouge-fonce: hsl(10, 100%, 15%);

// $--clr-vert-pale: hsl(70, 100%, 85%);
// $--clr-vert-leger: hsl(70, 100%, 50%);
// $--clr-vert-moyen: hsl(70, 100%, 30%);
// $--clr-vert-fonce: hsl(70, 100%, 15%);
$--hu1: 210;
$--nb-element: 5;
$--l-initial: 95%; // luminosité
$--increment-angle: 15%;

$--l1: $--l-initial;
$--l2: calc($--l1 - $--increment-angle);
$--l3: calc($--l2 - $--increment-angle);
$--l4: calc($--l3 - $--increment-angle);
$--l5: calc($--l4 - $--increment-angle);
$--l6: calc($--l5 - $--increment-angle);

$--clr-bleu-tres-pale: hsl($--hu1, 10%, 95%);
$--clr-bleu-pale: hsl($--hu1, 30%, 85%);
$--clr-bleu-leger: hsl($--hu1, 30%, $--l3);
$--clr-bleu-moyen: hsl($--hu1, 30%, $--l4);
$--clr-bleu-fonce: hsl($--hu1, 97%, 20%);
$--clr-bleu-tres-fonce: hsl($--hu1, 90%, 10%);

// Création du mapping des couleurs
$defaut: (
    /* primaire: (
        100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce,
    ),
    secondaire: (
        100: $--clr-orange-pale,
        200: $--clr-orange-leger,
        300: $--clr-orange-moyen,
        400: $--clr-orange-fonce,
    ),
    ternaire: (
        100: $--clr-rouge-pale,
        200: $--clr-rouge-leger,
        300: $--clr-rouge-moyen,
        400: $--clr-rouge-fonce,
    ),
    vert: (
        100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce,
    ),*/
        primaire:
        (
            100: $--clr-bleu-tres-pale,
            200: $--clr-bleu-pale,
            300: $--clr-bleu-leger,
            400: $--clr-bleu-moyen,
            500: $--clr-bleu-fonce,
            600: $--clr-bleu-tres-fonce,
        )
);

$agencement-couleur: (
    /*primaire: (
        $--clr-bleu-pale,
        ($--clr-bleu-fonce, $--clr-bleu-leger),
    ),
    secondaire: (
        $--clr-orange-fonce,
        $--clr-orange-pale,
    ),
    ternaire: (
        $--clr-rouge-fonce,
        $--clr-rouge-pale,
    ),
    vert: (
        $--clr-vert-pale,
        ($--clr-vert-fonce, $--clr-vert-moyen),
    ),*/
        // primaire: ($--clr-bleu-tres-pale, $--clr-bleu-pale, $--clr-bleu-leger, $--clr-bleu-moyen, $--clr-bleu-fonce, $--clr-bleu-tres-fonce)
);

/*:root {
    --nb-element: 5;
    --l-initial: 80%; // luminosité
    --increment-angle: 15%;
    //  360/5 = 72
    //  Couleur arrière plan
    --hu1: 200;
    --hu2: calc(var(--hu1) + 180);
    --s-couleur-arriere: 100%; // saturation

    --l1: var(--l-initial);
    --l2: calc(var(--l1) - var(--increment-angle));
    --l3: calc(var(--l2) - var(--increment-angle));
    --l4: calc(var(--l3) - var(--increment-angle));
    --l5: calc(var(--l4) - var(--increment-angle));

    //  Couleur texte
    --s-couleur: 70%; // saturation
    --l-couleur: 15%; // luminosité
    --couleur-arriere-entete: hsl(var(--hu1), var(--s-couleur-arriere), var(--l1));
    --couleur-arriere-accueil: hsl(var(--hu1), var(--s-couleur-arriere), var(--l2));
    --couleur-arriere-galerie: hsl(var(--hu2), var(--s-couleur-arriere), var(--l3));
    --couleur-arriere-evenement: hsl(var(--hu1), var(--s-couleur-arriere), var(--l4));
    --couleur-arriere-footer: hsl(var(--hu1), var(--s-couleur-arriere), var(--l5));
    --couleur-entete: hsl(var(--hu1), var(--s-couleur), calc(100% - var(--l1)));
    --couleur-accueil: hsl(var(--hu1), var(--s-couleur), calc(100% - var(--l2)));
    --couleur-galerie: hsl(var(--hu2), var(--s-couleur), calc(100% - var(--l5)));
    --couleur-evenement: hsl(var(--hu1), var(--s-couleur), calc(100% - var(--l4)));
    --couleur-footer: hsl(var(--hu1), var(--s-couleur), calc(100% - var(--l5)));
    --couleur-liens-entete: hsl(var(--hu1), var(--s-couleur), 80%);
    --couleur-liens-accueil: hsl(var(--hu1), var(--s-couleur), 80%);
    --couleur-liens-galerie: hsl(var(--hu2), var(--s-couleur), 80%);
    --couleur-liens-evenement: hsl(var(--hu1), var(--s-couleur), 80%);
    --couleur-liens-footer: hsl(var(--hu1), var(--s-couleur), 80%);
    --couleur-liens-visited-entete: hsl(var(--hu1), var(--s-couleur), 20%);
    --couleur-liens-visited-accueil: hsl(var(--hu1), var(--s-couleur), 20%);
    --couleur-liens-visited-galerie: hsl(var(--hu2), var(--s-couleur), 20%);
    --couleur-liens-visited-evenement: hsl(var(--hu1), var(--s-couleur), 20%);
    --couleur-liens-visited-footer: hsl(var(--hu1), var(--s-couleur), 20%);

    --nb-element: 5;
    --increment-angle: calc(360 / var(--nb-element));
    // 360/5 = 72
    --angle-initial: 180;
    // Couleur arrière plan
    --s-couleur-arriere: 100%; // saturation
    --l-couleur-arriere: 50%; // luminosité
    // Couleur texte
    --s-couleur: 100%; // saturation
    --l-couleur: 80%; // luminosité

    --hu1: var(--angle-initial);
    --hu2: calc(var(--hu1) + 180);
    --hu3: calc(var(--hu2) + var(--increment-angle));
    --hu4: calc(var(--hu3) + var(--increment-angle));
    --hu5: calc(var(--hu4) + var(--increment-angle));

    --couleur-arriere-entete: hsl(var(--hu1), var(--s-couleur-arriere), 60%);
    --couleur-arriere-accueil: hsl(var(--hu1), var(--s-couleur-arriere), 65%);
    --couleur-arriere-galerie: hsl(var(--hu2), var(--s-couleur-arriere), 70%);
    --couleur-arriere-evenement: hsl(var(--hu1), var(--s-couleur-arriere), 75%);
    --couleur-arriere-footer: hsl(var(--hu1), var(--s-couleur-arriere), 80%);

    --couleur-entete: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
    --couleur-accueil: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
    --couleur-galerie: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
    --couleur-evenement: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
    --couleur-footer: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));

    --couleur-arriere-contenu: hsl(300, 100%, 50%);
    --transparence-arriere-contenu: 0.3;
    --flex-basis-contenu: 900px;
}
*/
#entete {
    --_couleur-arriere-vague: hsl(200, 17%, 95%);
}

#evenement {
    --_couleur-arriere-vague: hsl(var(--hu1), var(--s-couleur-arriere), var(--l5));
}
