.diagonal {
    position: relative;
    isolation: isolate;
}
.diagonal::after {
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: skewY(-5deg);
    background-color: var(--couleur-arriere-galerie);
}
