.vague {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    pointer-events: none;
}

.vague svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 84px;
}
